{% extends 'security/base.html' %}
{% load static %}
      {% block content %}
      <!-- Main Content Wrapper -->
      <main class="main-content w-full px-[var(--margin-x)] pb-8">
        <div
          class="mt-4 grid grid-cols-12 gap-4 sm:mt-5 sm:gap-5 lg:mt-6 lg:gap-6"
        >
          <div class="card col-span-12 pb-4">
            <div class="mt-3 flex items-center justify-between px-4 sm:px-5">
              <h2
                class="text-sm+ font-medium tracking-wide text-slate-700 dark:text-navy-100"
              >
                Security Stats
              </h2>

              <div class="flex items-center space-x-4">
                <div
                  class="hidden cursor-pointer items-center space-x-2 sm:flex"
                >
                  <div class="h-3 w-3 rounded-full bg-accent"></div>
                  <p>Current Period</p>
                </div>
                <div
                  class="hidden cursor-pointer items-center space-x-2 sm:flex"
                >
                  <div class="h-3 w-3 rounded-full bg-warning"></div>
                  <p>Previous Period</p>
                </div>
                <select
                  class="form-select h-8 rounded-full border border-slate-300 bg-white px-2.5 pr-9 text-xs+ hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:bg-navy-700 dark:hover:border-navy-400 dark:focus:border-accent"
                >
                  <option>Last week</option>
                  <option>Last month</option>
                  <option>Last year</option>
                </select>
              </div>
            </div>
            <div class="mt-3 grid grid-cols-12">
              <div class="col-span-12 px-4 sm:col-span-6 sm:px-5 lg:col-span-4">
                <select
                  class="mt-1.5 w-full"
                  x-init="$el._x_tom = new Tom($el,{sortField: {field: 'text',direction: 'asc'}})"
                >
                  {% for item in doors %}
                  <option value="{{item}}">{{item}}</option>
                  {% endfor %}
                  <!-- <option>Courses Page</option>
                  <option>Grammar Page</option>
                  <option>Sport Page</option>
                  <option>Jobs Page</option>
                  <option>Server Status Page</option> -->
                </select>
                <div class="mt-6 grid grid-cols-2 gap-x-4 gap-y-8">
                  <div>
                    <p
                      class="text-xs uppercase text-slate-400 dark:text-navy-300"
                    >
                      Total Doors
                    </p>
                    <p
                      class="mt-1 text-xl font-medium text-slate-700 dark:text-navy-100"
                    >
                      {{doors.count}}
                    </p>
                  </div>

                  <div>
                    <p
                      class="text-xs uppercase text-slate-400 dark:text-navy-300"
                    >
                      Total Scans
                    </p>
                    <p class="mt-1">
                      <span
                        class="text-xl font-medium text-slate-700 dark:text-navy-100"
                      >
                        {{logs.count}}
                      </span>
                      <span class="text-xs text-success">+3%</span>
                    </p>
                  </div>
                  <div>
                    <p
                      class="text-xs uppercase text-slate-400 dark:text-navy-300"
                    >
                      Succcessful Scans
                    </p>
                    <p
                      class="mt-1 text-xl font-medium text-slate-700 dark:text-navy-100"
                    >
                      {{successful.count}}
                    </p>
                  </div>
                  <div>
                    <p
                      class="text-xs uppercase text-slate-400 dark:text-navy-300"
                    >
                      Scans Declined
                    </p>
                    <p
                      class="mt-1 text-xl font-medium text-slate-700 dark:text-navy-100"
                    >
                     {{declined.count}}
                    </p>
                  </div>
                  <div>
                    <p
                      class="text-xs uppercase text-slate-400 dark:text-navy-300"
                    >
                      Total comments
                    </p>
                    <p
                      class="mt-1 text-xl font-medium text-slate-700 dark:text-navy-100"
                    >
                      198
                    </p>
                  </div>
                  <div>
                    <p
                      class="text-xs uppercase text-slate-400 dark:text-navy-300"
                    >
                      Post Referred
                    </p>
                    <p
                      class="mt-1 text-xl font-medium text-slate-700 dark:text-navy-100"
                    >
                      49
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="ax-transparent-gridline col-span-12 px-2 sm:col-span-6 lg:col-span-8"
              >
                <div
                  x-init="$nextTick(() => { $el._x_chart = new ApexCharts($el,pages.charts.analyticsPagesViews); $el._x_chart.render() });"
                ></div>
              </div>
            </div>
          </div>

        </div>
        <div class="card pb-4 mt-6">
            <div
              class="my-3 flex h-8 items-center justify-between px-4 sm:px-5"
            >
              <h2
                class="line-clamp-1 font-medium tracking-wide text-slate-700 dark:text-navy-100 lg:text-base"
              >
                Security Log
              </h2>
              <div
                x-data="usePopper({placement:'bottom-end',offset:4})"
                @click.outside="isShowPopper && (isShowPopper = false)"
                class="inline-flex"
              >
                <button
                  x-ref="popperRef"
                  @click="isShowPopper = !isShowPopper"
                  class="btn h-8 w-8 rounded-full p-0 hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                    />
                  </svg>
                </button>

                <div
                  x-ref="popperRoot"
                  class="popper-root"
                  :class="isShowPopper && 'show'"
                >
                  <div
                    class="popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700"
                  >
                    <ul>
                      <li>
                        <a
                          href="#"
                          class="flex h-8 items-center px-3 pr-8 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                          >Action</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="flex h-8 items-center px-3 pr-8 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                          >Another Action</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="flex h-8 items-center px-3 pr-8 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                          >Something else</a
                        >
                      </li>
                    </ul>
                    <div class="my-1 h-px bg-slate-150 dark:bg-navy-500"></div>
                    <ul>
                      <li>
                        <a
                          href="#"
                          class="flex h-8 items-center px-3 pr-8 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                          >Separated Link</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div
                x-data
                x-init="$el._x_grid =  new Gridjs.Grid({
                from: $refs.table,
                sort: true,
                search: true,
              }).render($refs.wrapper);"
              >
                <div class="is-scrollbar-hidden min-w-full overflow-x-auto">
                  <table x-ref="table" class="w-full text-left">
                    <thead>
                      <tr>
                        <th
                          class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                        >
                          Session ID
                        </th>
                        <th
                          class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                        >
                          Name
                        </th>
                        <th
                          class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                        >
                          Door
                        </th>
                        <th
                          class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                        >
                          Entry Time
                        </th>
                        <th
                          class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                        >
                          Exit Time
                        </th>
                        <th
                          class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
                        >
                          Entry Status
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in logs %}
                      <tr>
                        <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                          ID {{item.session_id}}
                        </td>
                        <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                          {{item.access_pass.card_name}}
                        </td>
                        <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                          {{item.door.door_name}}
                        </td>
                        <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                          {{item.entry_at}}
                        </td>
                        <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                          {{item.exit_at}}
                        </td>
                        <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                          {% if item.entry_status %}
                          <div class="badge bg-success text-white">Success</div>
                          {% else %}
                          <div class="badge bg-error text-white">Denied</div>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div><div x-ref="wrapper"></div></div>
              </div>
            </div>
          </div>
      </main>
      {% endblock content %}
    